<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="sqlService" value="SqlServerServices;SqlServerServices.SqlServerService"/>
  </appSettings>
  <connectionStrings>
    <add name="defaultDataSource" connectionString="Data Source=.;Initial Catalog=RuanMou;User ID=sa;Pwd=123"/>
  </connectionStrings>
</configuration>